## Eclipse

.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath

## IntelliJ IDEA

.idea
Youtube-Tutorials.iml
Youtube-Tutorials.eml
out
src/META-INF


## Windows

Thumbs.db
Desktop.ini

## Macintosh

.DS_Store
